@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Light.eot");
    src: url("fonts/SFUIDisplay-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/SFUIDisplay-Light.woff2") format("woff2"),
        url("fonts/SFUIDisplay-Light.woff") format("woff"),
        url("fonts/SFUIDisplay-Light.ttf") format("truetype"),
        url("fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Changa";
    src: url("fonts/Changa-Medium.eot");
    src: url("fonts/Changa-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/Changa-Medium.woff2") format("woff2"),
        url("fonts/Changa-Medium.woff") format("woff"),
        url("fonts/Changa-Medium.ttf") format("truetype"),
        url("fonts/Changa-Medium.svg#Changa-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Bold.eot");
    src: url("fonts/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/SFUIDisplay-Bold.woff2") format("woff2"),
        url("fonts/SFUIDisplay-Bold.woff") format("woff"),
        url("fonts/SFUIDisplay-Bold.ttf") format("truetype"),
        url("fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Regular.eot");
    src: url("fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/SFUIDisplay-Regular.woff2") format("woff2"),
        url("fonts/SFUIDisplay-Regular.woff") format("woff"),
        url("fonts/SFUIDisplay-Regular.ttf") format("truetype"),
        url("fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Medium.eot");
    src: url("fonts/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/SFUIDisplay-Medium.woff2") format("woff2"),
        url("fonts/SFUIDisplay-Medium.woff") format("woff"),
        url("fonts/SFUIDisplay-Medium.ttf") format("truetype"),
        url("fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 14px;
    line-height: 19px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

header {
    order: 1;
    -webkit-order: 1;
    z-index: 3;
}

.content {
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.content.inner_page {
    padding-bottom: 82px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/bg_2.jpg);
}

.content.inner_page_2 {
    padding-bottom: 24px;
}

footer {
    order: 3;
    -webkit-order: 3;
    position: relative;
    z-index: 2;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    /*padding: 10px 0;*/
}

h1 {
    font-family: "Changa", "Arial", "Verdana", sans-serif;
    font-size: 25px;
    line-height: 28px;
    font-weight: 500;
    color: #383439;
}

h2 {
    font-family: "Changa", "Arial", "Verdana", sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
    color: #383439;
}

h3 {
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: bold;
    color: #383439;
}

h4 {

}

p {
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    color: #86878c;
}

li {
    list-style: none;
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    color: #86878c;
}

a {
    text-decoration: none;
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    color: #86878c;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.overflow_hidden {
    overflow: hidden;
}

/*-- Icons --*/

.instagram {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(img/social_sprite.png);
    background-position: -4px -1px;
    background-repeat: no-repeat;
}

.facebook {
    display: block;
    width: 9px;
    height: 16px;
    background-image: url(img/social_sprite.png);
    background-position: -46px -1px;
    background-repeat: no-repeat;
}

.vk {
    display: block;
    width: 18px;
    height: 11px;
    background-image: url(img/social_sprite.png);
    background-position: -79px -4px;
    background-repeat: no-repeat;
}

.viber {
    display: block;
    width: 19px;
    height: 20px;
    background-image: url(img/messengers_sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.whats {
    display: block;
    width: 20px;
    height: 19px;
    background-image: url(img/messengers_sprite.png);
    background-position: -22px 0px;
    background-repeat: no-repeat;
}

.eye {
    display: block;
    width: 39px;
    height: 22px;
    background-image: url(img/sprite_2.png);
    background-position: -2px -3px;
    background-repeat: no-repeat;
}

.commet {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(img/sprite_2.png);
    background-position: -78px -1px;
    background-repeat: no-repeat;
}

.search {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home {
    display: block;
    width: 21px;
    height: 18px;
    background-image: url(img/home_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*-- /Icons --*/

/*-- Buttons --*/

.yellow_btn {
    display: inline-block;
    vertical-align: top;
    min-width: 196px;
    position: relative;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    padding: 7px 48px 8px 48px;
    background-image: url(img/foot.png);
    background-position: right center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #383439;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    -webkit-box-shadow: 0 0 15px 0 rgba(56, 52, 57, .2);
    -moz-box-shadow: 0 0 15px 0 rgba(56, 52, 57, .2);
    box-shadow: 0 0 15px 0 rgba(56, 52, 57, .2);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.yellow_btn:link,
.yellow_btn:visited {
    -webkit-box-shadow: 0 0 15px 0 rgba(56, 52, 57, .2);
    -moz-box-shadow: 0 0 15px 0 rgba(56, 52, 57, .2);
    box-shadow: 0 0 15px 0 rgba(56, 52, 57, .2);
}

.yellow_btn:active,
.yellow_btn.active {
    -webkit-box-shadow: 0 0 25px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 0 25px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 0 25px 0 rgba(56, 52, 57, .4);
}

.yellow_btn:hover {
    -webkit-box-shadow: 0 0 25px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 0 25px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 0 25px 0 rgba(56, 52, 57, .4);
}

.yellow_btn:after {
    display: block;
    content: "";
    width: 18px;
    height: 19px;
    position: absolute;
    top: 8px;
    right: 18px;
    background-image: url(img/foot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.transparent_btn {
    display: inline-block;
    vertical-align: top;
    min-width: 196px;
    position: relative;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    margin: 14px 0;
    padding: 6px 48px 5px 48px;
    background-image: url(img/foot.png);
    background-position: right center;
    background-repeat: no-repeat;
    text-align: center;
    border: 2px solid #ffdb95;
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #383439;
    background-image: none;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.transparent_btn:link,
.transparent_btn:visited {
    background-image: none;
}

.transparent_btn:active,
.transparent_btn.active {
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
}

.transparent_btn:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
}

.transparent_btn:after {
    display: block;
    content: "";
    width: 18px;
    height: 19px;
    position: absolute;
    top: 8px;
    right: 18px;
    background-image: url(img/foot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.transparent_btn_2 {
    display: inline-block;
    vertical-align: top;
    min-width: 196px;
    position: relative;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    margin: 14px 0;
    padding: 6px 25px 5px 25px;
    background-image: url(img/foot.png);
    background-position: right center;
    background-repeat: no-repeat;
    text-align: center;
    border: 2px solid #ffdb95;
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #383439;
    background-image: none;
    -webkit-transition-property: background-image;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-image;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-image;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-image;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background-image;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.transparent_btn_2:link,
.transparent_btn_2:visited {
    background-image: none;
}

.transparent_btn_2:active,
.transparent_btn_2.active {
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
}

.transparent_btn_2:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
}

/*-- /Buttons --*/

/*-- Owl --*/

.owl-prev,
.owl-next {
    display: block;
    width: 40px;
    height: 40px;
    border-width: 1px !important;
    border-color: rgb(255, 255, 255) !important;
    border-style: solid !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(255, 218, 147) !important;
    -webkit-box-shadow: 0 0 5px 0 rgba(56, 52, 57, .25);
    -moz-box-shadow: 0 0 5px 0 rgba(56, 52, 57, .25);
    box-shadow: 0 0 5px 0 rgba(56, 52, 57, .25);
    background-image: url(img/arrows.png) !important;
    background-repeat: no-repeat !important;
}

.owl-prev span,
.owl-next span {
    display: none;
}

.owl-prev {
    background-position: 7px 10px !important;
}

.owl-next {
    background-position: -39px 11px !important;
}

.owl-carousel .owl-prev {
    position: absolute;
    top: 95px;
    left: 21px;
}

.owl-carousel .owl-next {
    position: absolute;
    top: 95px;
    right: 21px;
}

.owl-dots {
    text-align: center;
}

.owl-dots button {
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    background-color: #383439 !important;
}

.owl-dots button.active {
    background-color: #ffda93 !important;
}

/*-- /Owl --*/

/*-- Breadcrumbs --*/

.breadcrumbs_wrapp {
    padding: 29px 0 3px 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs li:after {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 5px;
    height: 13px;
    margin: 0 6px 0 11px;
    position: relative;
    top: 6px;
    background-image: url(img/slash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li a {
    display: inline;
    padding: 2px 5px;
    color: #383439;
    font-weight: 500;
}

.breadcrumbs li a .home {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 2px;
    margin: 0 10px 0 0;
}

.breadcrumbs li:last-child a {
    background-color: #fdd994;
}

/*-- /Breadcrumbs --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 60px 0 rgba(56, 52, 57, .14);
    -moz-box-shadow: 0 0 60px 0 rgba(56, 52, 57, .14);
    box-shadow: 0 0 60px 0 rgba(56, 52, 57, .14);
}

.header-site.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-site .col-1 {
    width: 18%;
    padding: 5px 5px 6px 0;
}

.header-site .col-2 {
    width: 53%;
    padding: 17px 5px 6px 5px;
}

.header-site .col-3 {
    width: 29%;
    padding: 0 0 5px 5px;
    text-align: right;
}

.logo {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    width: 58px;
    height: 58px;
}

.logo span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;
    font-family: "Changa", "Arial", "Verdana", sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #383439;
}

.main-nav_wrapp {
    text-align: right;
}

.main-nav_wrapp .socials_list {
    display: none;
}

.main-nav {
    display: inline-block;
    vertical-align: top;
}

.main-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
}

.main-nav li a {
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    color: #383439;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 1px solid transparent;
}

.main-nav li a:active,
.main-nav li a.active {
    border-bottom: 1px solid #383439;
}

.main-nav li a:hover {
    border-bottom: 1px solid #383439;
}

.socials_list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4.5%;
}

.socials_list li {
    display: inline-block;
    vertical-align: top;
    padding: 2px;
}

.socials_list li a {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
}

.socials_list li a:link,
.socials_list li a:visited {
    box-shadow: none;
}

.socials_list li a:active,
.socials_list li a.active {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
}

.socials_list li a:hover {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
}

.socials_list li a i {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contacts {
    display: inline-block;
    vertical-align: middle;
}

.cals_wrapp {

}

.cals_wrapp li {
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
}

.cals_wrapp li a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #383439;
}

.cals_wrapp li a:link,
.cals_wrapp li a:visited {
    border-bottom: 1px solid transparent;
}

.cals_wrapp li a:active,
.cals_wrapp li a.active {
    border-bottom: 1px solid #383439;
}

.cals_wrapp li a:hover {
    border-bottom: 1px solid #383439;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    display: none;
    margin: 0 0 0 13px;
    width: 45px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    position: relative;
    top: 16px;
    z-index: 12;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 27px;
    height: 2px;
    background: #000000;
    margin: 0 auto 7px auto;

    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #000000;
}

.respmenubtn.active span {
    position: relative;
    width: 35px;
    top: 2px;
    left: 0;
    background: #000000;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 4px;
    left: 5px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.promo-sect {
    padding: 69px 0 85px 0;
    background-image: url(img/promo_bg.jpg);
    background-position: center;
    background-size: cover;
}

.promo-descript {
    max-width: 716px;
}

.h1_wrapp {
    min-height: 103px;
    padding: 20px 0 0 40px;
    position: relative;
    left: -40px;
    background-image: url(img/h1_bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.promo-descript p {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}

.promo-descript .inner {
    max-width: 510px;
}

.promo-descript .yellow_btn {
    margin: 20px 0;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect-2 {
    padding: 7px 0;
}

.bg_2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/bg_2.jpg);
}

.h2_wrapp {
    text-align: center;
}

.h2_wrapp h2 {
    display: inline-block;
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h2.h2_bg_2 {
    background-image: url(img/h2_bg_2.png);
    padding: 13px 33px 17px 33px;
}

.h2-desc {
    padding: 5px 0;
    font-size: 16px;
    line-height: 19px;
}

.h2-desc_2 {
    padding: 0;
    position: relative;
    top: -6px;
}

.switch-goods_wrapp {
    padding: 5px 0;
}

.switch-goods_wrapp h4 {
    text-align: center;
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #383439;
}

.switch_list {
    margin: 13px 0 0 0;
    text-align: center;
}

.switch_list li {
    display: inline-block;
    vertical-align: top;
    padding: 0 9%;
}

.switch_list li a {
    display: block;
    text-align: center;
    opacity: .8;
}

.switch_list li a:link,
.switch_list li a:visited {
    opacity: .8;
}

.switch_list li a:active,
.switch_list li a.active {
    opacity: 1;
}

.switch_list li a:hover {
    opacity: 1;
}

.switch_list li a .icon-box {
    height: 84px;
}

.switch_list li a .icon-box img {
    display: inline-block;
    max-height: 100%;
}

.switch_list li a p {
    padding: 10px 29px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #383439;
}

.switch_list li a.active p {
    background-image: url(img/cat_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slider-1 .slide {
    text-align: center;
}

.cat-thumb {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    width: 260px;
    border: 5px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    -moz-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    text-align: center;
}

.slider-1 .slide .cat-thumb {
    margin: 15px 0;
}

.cat-thumb .img-box {
    height: 180px;
    overflow: hidden;
    position: relative;
}

.cat-thumb .img-box img {
    display: block;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cat-thumb .img-box .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 218, 147, .7);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.cat-thumb:link .mask,
.cat-thumb:visited .mask {
    opacity: 0;
}

.cat-thumb.active .mask,
.cat-thumb:active .mask {
    opacity: 1;
}

.cat-thumb:hover .mask {
    opacity: 1;
}

.cat-thumb .thumb_links {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.thumb_links li {
    display: inline-block;
    vertical-align: top;
    padding: 6px;
}

.thumb_links li a {
    display: block;
    width: 57px;
    height: 57px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
}

.thumb_links li a:link,
.thumb_links li a:visited {
    -webkit-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
}

.thumb_links li a:active,
.thumb_links li a.active {
    -webkit-box-shadow: 0 0 14px 0 rgba(56, 52, 57, .7);
    -moz-box-shadow: 0 0 14px 0 rgba(56, 52, 57, .7);
    box-shadow: 0 0 14px 0 rgba(56, 52, 57, .7);
}

.thumb_links li a:hover {
    -webkit-box-shadow: 0 0 14px 0 rgba(56, 52, 57, .7);
    -moz-box-shadow: 0 0 14px 0 rgba(56, 52, 57, .7);
    box-shadow: 0 0 14px 0 rgba(56, 52, 57, .7);
}

.thumb_links li a i {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cat-thumb h3 {
    font-family: "SF UI Display", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    color: #383439;
}

.cat-thumb p {
    padding: 4px 0;
    font-size: 14px;
    line-height: 15px;
    color: #d1ad69;
}

.cat-thumb p.price {
    color: #383439;
    font-weight: bold;
}

.cat-thumb .descript {
    padding: 7px 0 0 0;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect-3 {
    padding: 17px 0 0 0;
}

.bg_3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/bg_3.jpg);
}

.h2_wrapp.light h2 {
    color: #ffffff;
}

h2.h2_bg_3 {
    background-image: url(img/h2_bg_3.png);
    padding: 12px 33px 20px 33px;
}

.h2_wrapp.light p {
    color: #ffffff;
}

.slider-2_wrapp {
    padding: 2px 0 0 0;
}

.yellow_btn_2 {
    min-width: 196px;
    margin: 16px 0 12px 0;
    padding: 6px 40px 5px 40px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect-4 {
    padding: 15px 0 1px 0;
}

.cat_shape {
    position: absolute;
    top: -111px;
    right: 127px;
}

.thumbnails_1 {
    margin: 23px -1.5% 10px -1.5%;
}

.thumb_1 {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    min-height: 145px;
    margin: 40px 1.5%;    
    padding: 34px 1% 10px 1%;
    position: relative;
    border-width: 2px;
    border-color: rgb(255, 218, 147);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    -moz-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    text-align: center;
}

.thumb_1:after {
    content: "";
    height: 25px;
    width: 89%;
    position: absolute;
    top: -40px;
    left: 63%;
    background-image: url(img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.thumb_1:last-child:after {
    display: none;
}

.thumb_1 .icon-box {
    width: 61px;
    height: 61px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin: 0 0 0 -30px;
    border-width: 2px;
    border-color: rgb(255, 218, 147);
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.thumb_1 .icon-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 98%;
    max-height: 98%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thumb_1 h3 {
    padding: 2px 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.thumb_1 p {
    padding: 5px 0;
    font-size: 14px;
    line-height: 16px;
    color: #86878c;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect-5 {
    padding: 20px 0 13px 0;
}

.bg_4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/bg_4.jpg);
}

.thumbnails_2 {
    margin: 4px 0;
    text-align: center;
}

.thumb_2 {
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 181px;
    margin: 17px;
    position: relative;
    overflow: hidden;
}

.thumb_2 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.thumb_2 .mask {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(56, 52, 57, .6);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_2:link .mask,
.thumb_2:visited .mask {
    opacity: 0;
}

.thumb_2:active .mask,
.thumb_2.active .mask {
    opacity: 1;
}

.thumb_2:hover .mask {
    opacity: 1;
}

.thumb_2 .mask .searchicon_wrapp {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.searchicon_wrapp {
    width: 57px;
    height: 57px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
}

.searchicon_wrapp i {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.sect-6 {
    padding: 12px 0 83px 0;
}

.bg_5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/bg_2.jpg);
}

h2.h2_bg_4 {
    min-width: 220px;
    background-image: url(img/h2_bg_4.png);
    padding: 12px 33px 20px 33px;
}

.thumbnails_3 {
    margin: 8px -1%;
}

.thumb_3 {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 15px 1%;
    position: relative;
}

.thumb_3 .img-box {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.thumb_3 .img-box .inner {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0% 0%, 92% 0, 92% 42%, 100% 50%, 92% 59%, 92% 100%, 0 100%);
    clip-path: polygon(0% 0%, 92% 0, 92% 42%, 100% 50%, 92% 59%, 92% 100%, 0 100%);
}

.thumb_3 .img-box:after {
    display: block;
    content: "";
    width: calc(100% - 23px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 30px 0 rgba(56,52,57,.3);
    -moz-box-shadow: 0 0 30px 0 rgba(56,52,57,.3);
    box-shadow: 0 0 30px 0 rgba(56,52,57,.3);
}

.thumb_3 .img-box img {
    display: block;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb_3 .descript {
    width: 50%;
    min-height: 265px;
    float: right;
    position: relative;
    padding: 7px 20px 50px 20px;
}

.thumb_3 h3 {
    padding-bottom: 4px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.thumb_3 p {
    line-height: 16px;
    color: #86878c;
}

p.date {
    font-size: 12px;
    line-height: 15px;
    color: #d1ad69;
}

.thumb_3 .transparent_btn_2 {
    margin: 5px 0;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.thumbnails_3_oddeven .thumb_3.odd-even .img-box {
    left: auto;
    right: 0;
}

.thumbnails_3_oddeven .thumb_3.odd-even .img-box:after {
    left: auto;
    right: 0;
}

.thumbnails_3_oddeven .thumb_3.odd-even .img-box .inner {
    -webkit-clip-path: polygon(8% 42%, 8% 0, 100% 0, 100% 100%, 8% 100%, 8% 59%, 0 51%);;
    clip-path: polygon(8% 42%, 8% 0, 100% 0, 100% 100%, 8% 100%, 8% 59%, 0 51%);
}

.thumbnails_3_oddeven .thumb_3.odd-even .descript {
    float: left;
    padding: 7px 16px 7px 0;
    text-align: right;
}

.thumbnails_3_oddeven .thumb_3.odd-even + .thumb_3 .img-box {
    left: auto;
    right: 0;
}

.thumbnails_3_oddeven .thumb_3.odd-even + .thumb_3 .img-box:after {
    left: auto;
    right: 0;
}

.thumbnails_3_oddeven .thumb_3.odd-even + .thumb_3 .img-box .inner {
    -webkit-clip-path: polygon(8% 42%, 8% 0, 100% 0, 100% 100%, 8% 100%, 8% 59%, 0 51%);;
    clip-path: polygon(8% 42%, 8% 0, 100% 0, 100% 100%, 8% 100%, 8% 59%, 0 51%);
}

.thumbnails_3_oddeven .thumb_3.odd-even + .thumb_3 .descript {
    float: left;
    padding: 7px 16px 7px 0;
    text-align: right;
}

.thumbnails_3_oddeven .thumb_3.odd-even .transparent_btn_2 {
    left: auto;
    right: 20px;
}

.thumbnails_3_oddeven .thumb_3.odd-even + .thumb_3 .transparent_btn_2 {
    left: auto;
    right: 20px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 1 - Main Page 2 --*/

.promo_slider {
    overflow: hidden;
}

.promo_slider .slide {
    background-position: center;
    background-size: cover;
    padding: 67px 0 76px 0;
    position: relative;
}

.promo_slider .slide .bg_image {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.promo_slider .slide .resp_img {
    display: none;
}

.promo_slider .slide .row {
    padding: 0 53px;
    position: relative;
    z-index: 2;
}

.promo_slider_arrows {
    height: 0;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
}

.promo_slider_arrows .slick-arrow {
    width: 34px;
    height: 34px;
    opacity: .8;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    background-image: url(img/arrows_2.png);
    background-repeat: no-repeat;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.promo_slider_arrows .slick-arrow:hover {
    opacity: 1;
}

.promo_slider_arrows .row {
    position: relative;
}

.promo_slider_arrows .slick-prev {
    left: 0;
    background-position: -2px -1px;
}

.promo_slider_arrows .slick-next {
    right: 0;
    background-position: -61px -1px;
}

.promo_slider_arrows .slick-prev:hover {
    left: 0;
    background-position: -2px -46px;
}

.promo_slider_arrows .slick-next:hover {
    right: 0;
    background-position: -61px -46px;
}

.promo_slider .slick-dots {
    bottom: 23px;
}

.promo_slider .slick-dots li {
    padding: 5px 25px;
}

.promo_slider .slick-dots li button {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}

.promo_slider .slick-dots li button:hover {
    background-color: #ffda93;
}

.promo_slider .slick-dots li.slick-active button {
    background-color: #ffda93;
}

/*-- /Section 1 - Main Page 2 --*/

/*-- Section 3 - Main Page 2 --*/

.sect-6_2 {
    padding: 12px 0 30px 0;
}

.bg_6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/bg_6.jpg);
}

.sect-4_2 {
    padding-bottom: 20px;
}

.slider-2 .slide {
    text-align: center;
}

.btn_wrapp_2 .transparent_btn {
    margin: 7px 0 35px 0;
}

/*-- /Section 3 - Main Page 2 --*/

/*-- Section 1 - Cats Page --*/

.cats-thumbs {
    margin: 0 -1.5%;
}

.cats-thumbs .cat-thumb {
    margin: 15px 1.5%;
    width: 22%;
}

.pagination {
    text-align: center;
    margin: 4px 0 32px 0;
}

.pagination li {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.pagination li a {
    display: inline-block;
    vertical-align: top;
    height: 47px;
    min-width: 47px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 18px;
    line-height: 45px;
    font-weight: bold;
    color: #383439;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.pagination li a:link,
.pagination li a:visited {
    box-shadow: none;
}

.pagination li a:active,
.pagination li a.active {
    -webkit-box-shadow: 0 5px 15px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 5px 15px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 5px 15px 0 rgba(56, 52, 57, .4);
}

.pagination li a:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 5px 15px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 5px 15px 0 rgba(56, 52, 57, .4);
}

.arrow-prev {
    display: inline-block;
    vertical-align: top;
    height: 47px;
    min-width: 47px;
    position: relative;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
}

.arrow-prev:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 12px 15px;
    background-image: url(img/arrows.png);
    background-repeat: no-repeat;
}

.arrow-next {
    display: inline-block;
    vertical-align: top;
    height: 47px;
    min-width: 47px;
    position: relative;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
}

.arrow-next:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: -34px 15px;
    background-image: url(img/arrows.png);
    background-repeat: no-repeat;
}

/*-- /Section 1 - Cats Page --*/

/*-- Section 1 - Gatitos Vendidos Page --*/

.cats-thumbs_2 {
    margin-top: 11px;
}

/*-- /Section 1 - Gatitos Vendidos Page --*/

/*-- Section 1 - Kittens --*/

.two-cols_templ_2 {
    margin: 2px 0 5px 0;
}

.two-cols_templ_2 > .left {
    width: 58%;
    padding: 10px 15px 10px 0;
}

.two-cols_templ_2 > .right {
    width: 42%;
    padding: 19px 0 10px 15px;
}

.cats_slider_wrapp > .left {
    width: 173px;
}

.cats_slider_wrapp > .right {
    padding: 0;
    width: calc(100% - 173px);
}

.miniature_slider {
    width: 159px;
}

.miniature_slider .slide {
    margin: 9px 0;
    cursor: pointer;
    outline: 1px solid transparent;
}

.miniature_slider .slide .img-box {
    height: 111px;
    overflow: hidden;
    position: relative;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 17px 0 rgba(56, 52, 57, .2);
    -moz-box-shadow: 0 0 17px 0 rgba(56, 52, 57, .2);
    box-shadow: 0 0 17px 0 rgba(56, 52, 57, .2);
}

.miniature_slider .slide .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.big_slider {
    margin: 10px 0;
    -webkit-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    -moz-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
    box-shadow: 0 0 30px 0 rgba(56, 52, 57, .3);
}

.big_slider .slide {
    outline: 1px solid transparent;
}

.big_slider .img-box {
    height: 373px;
    overflow: hidden;
    position: relative;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(255, 255, 255);    
}

.big_slider .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- Slick --*/

.slick-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    background-image: url(img/slick_arrows.png);
    background-repeat: no-repeat;
}

.slick-prev {
    background-position: -6px -4px;
}

.slick-next {
    background-position: -69px -5px;
}

.slick-prev:hover {
    background-position: -6px -50px;
}

.slick-next:hover {
    background-position: -69px -51px;
}

.big_slider .slick-arrow {
    margin-top: -15px;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.big_slider .slick-prev {
    left: 20px;
}

.big_slider .slick-next {
    right: 20px;
}

.slick-dots {
    width: 100%;
    z-index: 2;
    text-align: center;
    position: absolute;
    bottom: 6px;
    left: 0;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    padding: 10px 16px;
}

.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #383439;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #ffdb95;
}

.slick-dots li button:hover {
    background: #ffdb95;
}

/*-- /Slick --*/

.two-cols_templ_2 h2 {
    font-family: "SF UI Display";
    padding-bottom: 13px;
    font-size: 25px;
    line-height: 32px;
    font-weight: bold;
    color: #383439;
}

.desc_item {
    padding: 8px 0;
}

.desc_item .col {
    display: inline-block;
    vertical-align: top;
}

.desc_item .col:nth-child(1) {
    margin: 0 5px 0 0;
}

.desc_item h3 {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    color: #d1ad69;
}

.desc_item p {
    padding: 1px 0 0 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #383439;
}

.tags {
    margin: -3px 0 -3px 15px;
}

p.tag {
    display: inline-block;
    vertical-align: top;
    min-width: 130px;
    text-align: center;
    margin: 3px;
    padding: 0 13px;
    border-width: 2px;
    border-color: rgb(252, 208, 122);
    border-style: solid;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 22px;
    color: #383439;
}

p.price_2 {
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    color: #383439;
}

.two-cols_templ_2 .right .yellow_btn {
    margin: 10px 0;
}

.dropdown-box {
    margin: 4px 0;
    border-top: 1px solid #fcd07a;
    border-bottom: 1px solid #fcd07a;
}

.dropdown-title {
    padding: 13px 30px 14px 0;
    position: relative;
}

.dropdown-btn {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    background-image: url(img/arrow_slide.png);
    background-position: center;
    background-repeat: no-repeat;
}

.dropdown-box.hide .dropdown-btn {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-title .dropdown-btn {
    margin-top: -8px;
    position: absolute;
    top: 50%;
    right: 0;
}

.dropdown-title h3 {
    padding: 0;
    font-size: 17px;
    line-height: 22px;
}

.dropdown_content {
    padding: 0 0 17px 0;
}

.dropdown_content p {
    line-height: 17px;
}

/*-- /Section 1 - Kittens --*/

/*-- Section 1 - News Page --*/

.two-cols_templ_2_2 {
    margin: 8px 0 4px 0;
}

.two-cols_templ_2_2 .left {
    width: 50%;
}

.two-cols_templ_2_2 .right {
    width: 50%;
    padding-top: 6px;
}

.news_photo {
    height: 303px;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 20px 0 rgba(56, 52, 57, .25);
    -moz-box-shadow: 0 0 20px 0 rgba(56, 52, 57, .25);
    box-shadow: 0 0 20px 0 rgba(56, 52, 57, .25);
}

.news_photo img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.description_2 .desc_item h3 {
    font-size: 18px;
}

.description_2 .desc_item p {
    font-size: 14px;
}

.description_3 {
    padding: 41px 0 0 0;
}

.description_3 h3 {
    padding: 4px 0;
    font-size: 18px;
    line-height: 22px;
    color: #d1ad69;
}

.description_3 p {
    line-height: 17px;
}

/*-- /Section 1 - News Page --*/

/*-- Section 2 - News Page --*/

.thumbnails-4 {
    margin: 0 -1%;
}

.thumb-4 {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin: 20px 1%;
}

.h2_inner {
    padding: 14px 0;
    text-align: center;
    font-family: "SF UI Display";
    font-size: 25px;
    font-weight: bold;
}

.thumb-4 .img_wrapp {
    height: 221px;
    -webkit-box-shadow: 0 0 30px 0 rgba(56,52,57,.2);
    -moz-box-shadow: 0 0 30px 0 rgba(56,52,57,.2);
    box-shadow: 0 0 30px 0 rgba(56,52,57,.2);
}

.thumb-4 .img-box {
    height: 244px;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 59% 91%, 50% 100%, 42% 91%, 0 91%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 59% 91%, 50% 100%, 42% 91%, 0 91%);
}

.thumb-4 .description {
    padding: 10px 6%;
    position: relative;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .2);
    -moz-box-shadow: 0 0 30px 0 rgba(56, 52, 57, .2);
    box-shadow: 0 0 30px 0 rgba(56, 52, 57, .2);
    text-align: center;
}

.thumb-4 .description:before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(56,52,57,0.2) 0%, rgba(56,52,57,0.07) 51%, rgba(56,52,57,0) 100%);
    background: -webkit-linear-gradient(top, rgba(56,52,57,0.2) 0%,rgba(56,52,57,0.07) 51%,rgba(56,52,57,0) 100%);
    background: linear-gradient(to bottom, rgba(56,52,57,0.2) 0%,rgba(56,52,57,0.07) 51%,rgba(56,52,57,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33383439', endColorstr='#00383439',GradientType=0 );
}

.thumb-4 .date {
    padding: 0 4%;
    text-align: left;
}

.thumb-4 h3 {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 2px 0;
    position: relative;
    font-size: 20px;
    line-height: 25px;
}

.thumb-4 h3:after {
    content: "";
    width: 82%;
    height: 1px;
    background-color: #d1ad69;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.thumb-4 .desc-text {
    min-height: 52px;
    padding: 5px 0;
}

.thumb-4 p {
    font-size: 12px;
    line-height: 14px;
}

.thumb-4 .transparent_btn_2 {
    margin: 1px 0;
    padding: 4px 10px;
}

/*-- /Section 2 - News Page --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer {
    background-color: #ffdb95;
}

.footer .col-1 {
    width: 18%;
    padding: 5px 5px 6px 0;
}

.footer .col-2 {
    width: 53%;
    padding: 17px 5px 6px 5px;
}

.footer .col-3 {
    width: 29%;
    padding: 0 0 5px 5px;
    text-align: right;
}

.socials_list_2 li a {
    background-image: none;
}

.scrolltop_wrapp {
    height: 0;
    width: 100%;
    text-align: right;
    position: fixed;
    bottom: 151px;
    left: 0;
}

.scrolltop_wrapp .row {
    height: 0;
}

.scroll-top {
    display: none;
    width: 57px;
    height: 57px;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,218,147) 0%, rgb(255,235,198) 100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    -moz-box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
    box-shadow: 0 0 10px 0 rgba(56, 52, 57, .4);
}

.scroll-top:after {
    content: "";
    width: 20px;
    height: 24px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/top.png);
    background-repeat: no-repeat;
    background-position: center;
}